
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logisticstrakcing</title>
    <script src="~/script/bootstrap-3.3.7-dist/jquery-3.3.1.js"></script>
    <link href="~/script/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/script/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link href="~/script/Logisticstracking.css" rel="stylesheet" />
    <script src="~/script/Logisticstracking.js"></script>
    <link href="~/script/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="~/script/vue.min.js"></script>
    <script src="~/script/vue-resource-1.3.4.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="dynamic-nav-bar col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="main-nav-menu">
                    <li><a href="/Order/OnlineOrder" onclick="jumpOrder()">我要寄件</a></li>
                    <li><a href="/Logisticstracking/Logisticstrakcing" class="active">运单追踪</a></li>
                    <li><a href="/Logisticstracking/PriceTime">服务支持</a></li>
                </ul>

            </div>
        </div>
        <div class="row">
            <div id="function col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div>
                    <div class="shipping-detail-page">
                        <div class="shipping-search-detail">
                            <!-- 查询表单 -->
                            <div class="bill-number-wrapper">
                                <div class="input-group">
                                    <div class="tokenfield form-control">
                                        <input type="text" class="form-control tokenfield bill-number-input" placeholder="输入运单号进行查询，单次最多查询20条。请以逗号、空格或回车键隔开" tabindex="-1" style="position: absolute; left: -10000px;">
                                        @*<input type="text" tabindex="-1" style="position: absolute; left: -10000px;">
                        <div class="token" data-value="246752481545">
                            <span class="token-label" style="max-width: 619px;">246752481545</span>
                            <a href="#" class="close" tabindex="-1">×</a></div>*@
                                        <input type="text" v-model="num_input" class="token-input" autocomplete="off" placeholder="" id="1557142529002188-tokenfield" tabindex="0" style="min-width: 90px; width: 525.625px;">
                                    </div>
                                    <label class="input-group-addon clear-inputs">
                                        <span class="sfi sfi-trash"></span>
                                    </label>
                                    <span id="queryBill" type="button" class="primary-button maidian" @@click="billclick()" data-loading-text="查询中...">查询</span>
                                </div><!-- 最近查询记录 -->
                                <div class="bill-number-list-content">
                                    <ul class="nearly-records clearfix">
                                        <li><a data-bill="246752481545">246752481545</a><span class="remove">×</span></li>
                                    </ul>
                                </div>
                                <div>
                                    <div id="TCaptcha" style="width:310px;height:40px;display: none"></div>
                                    <div class="verification-code"><div class="input-group"><input type="text" class="form-control no-right-border" placeholder="请输入验证码"><span class="input-group-addon refresh no-left-border"><span class="sfi sfi-refresh"></span></span></div><img id="validation-image"><div class="error validation-code-error">*验证码有误。</div></div><div class="error" data-error="bill-number-format" style="display: none;">*运单号错误或重复。</div><div class="error" data-error="limit-exceeded" style="display: none;">*您已输入超过20条运单号，系统将自动截取并显示前20条运单号的追踪信息</div><div class="error" data-error="server-network">服务器暂不可用，请稍后再试</div>
                                </div>
                            </div>
                        </div><!-- 中国大陆运单查询 -->
                        <div class="my-bills">
                            <div class="bill-title bill-tab send-tab maidian active">我的包裹</div><div class="no-login-wrap" style="display: block;">
    @*<div class="no-login-tip"><span>暂无运单，登录/注册会员可查询更多运单</span></div><div class="login-btn maidian" data-md-name="点击登录/注册" data-md-id="115005"><span>登录/注册</span></div></div><div class="bill-list send-list" style="display: none;"></div><div class="bill-list receive-list" style="display: none;"></div><div class="bill-list batch-list" style="display: none;"></div></div>
        <div class="delivery-view"  >*@
    <!-- 我的运单列表 -->
    <div class="my-bills">
        <div class="bill-title" style="display:none">我的包裹</div>

        <div class="bill-list send-list" style="display: none;"></div>
        <div class="bill-list receive-list" style="display: none;"></div>
        <div class="bill-list batch-list" style="display: none;"></div>
    </div><!-- 运单路由信息 -->
    <div class="delivery-brief" v-if="billtitle">
        <div class="brief-content clearfix">
            <div class="wrapper_left">
                <div class="bill-num">
                    <span class="gray">快递公司:</span>
                    <span class="number">{{introCompany.expName}}</span>
                    <p class="gray">运单号: <span class="number">{{introCompany.expNumber}}</span></p>

                    <span class="gray">
                        公司官网:
                        <span class="number">{{introCompany.expSite}}</span>
                    </span>

                    <p class="gray">
                        快递公司联系电话:
                        <span class="number">{{introCompany.expPhone}}</span>
                    </p>

                    <!-- 苹果客服专线 -->
                    <span class="apple-hotline"></span>
                </div><!-- 寄件城市与收件城市 -->
                @*<div class="locations">
                        黄冈市<i class="aicon-arrow-right">
                        </i>成都市/资阳市/眉山市
                    </div>*@
            </div>
            @*<div class="status-details fr">
                    <div class="cancel-time">5月 1日 11:19<span>签收</span></div>
                    <span class="express-state signed">已签收</span>
                </div>*@
        </div>
    </div>
    <div class="route-result clearfix" v-if="billtitle">
        @*<div class="bill-title">
                <a href="javascript:void(0)" class="go-to-bill-list">
                    <span class="aicon-to-left"></span>返回运单列表
                </a><div class="fr openMapModel">
                    <span>开启地图模式</span>
                    <input type="checkbox">
                </div>
            </div>*@<div class="delivery-wrapper">
            <div class="delivery">
                <div class="delivery-item send-out-item ">
                    <!-- 地图 -->
                    @*<div class="delivery-map amap-container" id="bill-map-246752481545" style="position: relative; background: rgb(252, 249, 242); cursor: url(&quot;https://webapi.amap.com/theme/v1.3/openhand.cur&quot;), default;">
            <object style="display: block; position: absolute; top: 0; left: 0; height: 100%; width: 100%; overflow: hidden; pointer-events: none; z-index: -1;" type="text/html" data="about:blank"></object>
            <div class="amap-maps">
                <div class="amap-drags" style="">
                    <div class="amap-layers" style="transform: translateZ(0px);">
                        <canvas class="amap-layer" width="1200" height="532" style="position: absolute; z-index: 0; transform-origin: 600px 266px; transform: scale3d(0.666667, 0.666667, 1); top: -89px; left: -200px; height: 532px; width: 1200px;"></canvas>
                        <div class="amap-markers" style="position: absolute; z-index: 120; top: 177px; left: 400px;">
                            <div class="amap-marker" style="top: 5px; left: 246px; z-index: 100; transform: rotate(0deg); transform-origin: 4px 4px; display: block;">
                                <div class="amap-marker-content" style="opacity: 1;"><div class="map-point-middle"></div></div>
                            </div>
                            <div class="amap-marker" style="top: -8px; left: 211px; z-index: 100; transform: rotate(0deg); transform-origin: 4px 4px; display: block;">
                                <div class="amap-marker-content" style="opacity: 1;"><div class="map-point-middle"></div></div>
                            </div>
                            <div class="amap-marker" style="top: 0px; left: -252px; z-index: 100; transform: rotate(0deg); transform-origin: 4px 4px; display: block;">
                                <div class="amap-marker-content" style="opacity: 1;"><div class="map-point-middle"></div></div>
                            </div>
                            <div class="amap-marker" style="top: -13px; left: -254px; z-index: 100; transform: rotate(0deg); transform-origin: 4px 4px; display: block;">
                                <div class="amap-marker-content" style="opacity: 1;">
                                    <div class="map-point-middle"></div>
                                </div>
                            </div>
                        </div><canvas class="amap-labels" draggable="false" style="position: absolute; z-index: 99; height: 355px; width: 800px; top: 0px; left: 0px;" width="1600" height="710"></canvas><canvas class="amap-layer amap-vectors" width="1200" height="532" style="position: absolute; z-index: 110; transform-origin: 600px 266px; transform: scale3d(0.666667, 0.666667, 1); top: -89px; left: -200px;"></canvas>
                    </div><div class="amap-overlays" style=""></div>
                </div>
            </div><div style="display: none;"></div><div class="amap-controls">
                <div class="amap-toolbar" style="left: 10px; top: 10px; visibility: visible;">
                    <div class="amap-pancontrol" style="position: relative; display: block;">
                        <div class="amap-pan-left"></div>
                        <div class="amap-pan-top"></div><div class="amap-pan-right"></div><div class="amap-pan-bottom"></div>
                    </div>
                    <div class="amap-locate" style="position: relative; left: 17px; display: block;"></div>
                    <div class="amap-zoomcontrol" style="position: relative; left: 14px;">
                        <div class="amap-zoom-plus"></div>
                        <div class="amap-zoom-ruler" style="display: block;">
                            <div class="amap-zoom-mask" style="height: 109px;"></div>
                            <div class="amap-zoom-cursor" style="top: 109px;"></div><div class="amap-zoom-labels" style="display: none;">
                                <div class="amap-zoom-label-street"></div><div class="amap-zoom-label-city"></div>
                                <div class="amap-zoom-label-province"></div><div class="amap-zoom-label-country"></div>
                            </div>
                        </div>
                        <div class="amap-zoom-minus"></div>
                    </div>
                </div>
                <div class="amap-geolocation-con" style="position: absolute; z-index: 9999; left: 10px; bottom: 20px;">
                    <div class="amap-geo"></div>
                </div>
            </div>
            <a class="amap-logo" href="http://gaode.com" target="_blank" style="display: block;">
                <img src="https://webapi.amap.com/theme/v1.3/logo@2x.png">
            </a><div class="amap-copyright" style="display: none; visibility: visible;">v1.4.3 © 2019 AutoNavi <span class="amap-mcode">- GS(2018)1709号</span></div>
        </div>*@<!-- 快递简介 -->
                    <!-- 营运异常事件提醒 --><div class="warm-reminder"></div><!-- 操作按钮 --><!-- 地图标注信息 -->
                    <div class="delivery-map-hide hide"><div class="map-win-info"></div></div><!-- 路由详细信息 -->
                    <div class="routes-wrapper">
                        <div class="route-list">
                            <div class="dashed-line" style="height: 522px;"></div>
                            @*<ul class="route first ">
                    <li class="route-status-text"><span class="signed">已签收</span></li>
                    <li class="route-status-icon"><img src="../../../../resource/images/waybill/status-signed.png"></li>
                    <li class="route-date-time"><span>2019-05-01 11:19</span></li>
                    <li class="route-desc"><span>已签收,感谢使用顺丰,期待再次为您服务</span></li>
                </ul>*@
                            <ul class="route" style="height:90px" v-for="item in billjt">
                                <li class="route-status-text"><span class="">{{item.msg}}</span></li>
                                <li class="route-status-icon"><img src="../../../../resource/images/waybill/status-transporting.png"></li>
                                <li class="route-date-time" style="line-height:30px"><span>{{item.time}}</span></li>
                                <li class="route-desc"><span>{{item.status}}</span></li>
                            </ul>
                        </div>
                    </div>
                    <!-- 登录按钮 -->
                    @*<div class="login-btn">
        <button class="primary-btn big a_link_login">登录</button><br><span class="gray">如是您的包裹可登录查询更详细信息</span></div>*@<!-- 分隔线 -->
                    <div class="separation-line"></div>
                  
                </div>
               
            </div>
        </div>
    </div>

</div>
                            <!--运单号查询访问数据-->
                            <script>
                                var vm = new Vue({
                                    el: ".container-fluid",//控制区域
                                    data: {
                                        num_input: "",
                                        billtitle: false,
                                        billjt: [],
                                        introCompany: {
                                            expName: "",
                                            expPhone: "",
                                            expSite: "",
                                            expNumber: "",
                                            SendingCity: "",
                                            ReceivingCity: ""


                                        }

                                        //运单查询的显示与隐藏
                                    },
                                    methods: {
                                        billclick() {
                                            //判断搜索框是否输入
                                            //判断输入的运单号是否准确
                                            //首先隐藏，当点击搜索后进行显示，取反
                                            if (this.num_input != "") {
                                                alert();
                                                this.billtitle = !this.billtitle;
                                                this.$http.post('/Logisticstracking/WLselect', {
                                                    number: this.num_input
                                                }, {
                                                        emulateJSON: true
                                                    }).then(function (date) {
                                                        this.billjt = date.body.result.list;
                                                        this.introCompany.expName = date.body.result.expName;
                                                        this.introCompany.expNumber = date.body.result.number;
                                                        this.introCompany.expSite = date.body.result.expSite;
                                                        this.introCompany.expPhone = date.body.result.expPhone;
                                                        //this.introCompany.SendingCity = date.body.result.list.length - 1;
                                                        console.log(date.body.result.list.length - 1)
                                                    }), function () {
                                                        alert('请求失败处理');
                                                    }
                                            } else {
                                                alert("请输入要查询的运单号");
                                            }
                                        }
                                    }
                                })
                            </script>
                        </div>
                        
                        <div class="modal_captcha" style="display:none" id="modal_captcha" style="width: 100%; height: 100%; background: rgb(0, 0, 0); position: fixed; left: 0px; top: 0px; opacity: 0.5; z-index: 1000; display: none;"></div>
                    </div>
            </div>
        </div>
        <div class="row">
           
        </div>
    </div>
</body>
</html>
