
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Guanyu</title>
    <link href="~/Libs/css/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        .biao {
            color: black;
            font-size: 20px;
            font-family: fantasy;
            text-align: center;
            line-height: 70px;
        }

        .content {
            overflow: hidden;
            margin-top: 60px;
            padding-bottom: 60px;
            border-bottom: 1px dashed #cdcdcd;
            width: 70%;
            margin-left: 320px;
        }

        .the-left {
            float: left;
            width: 686px;
        }

        .the-right {
            margin-right: 30px;
            float: right;
            width: 534px;
            height: 209px;
            background: #f1f1f1;
        }

        .first {
            font-size: 14px;
            line-height: 24px;
            margin-top: 0;
        }

        .sub-title {
            font-size: 18px;
            text-align: center;
            margin-top: 49px;
            margin-bottom: 40px;
            font-weight: 700;
        }

        .double-link {
            width: 100%;
            text-align: center;
        }

        a {
            display: inline-block;
            width: 190px;
            height: 44px;
            border: 1px solid #333;
            text-indent: -44px;
            line-height: 44px;
            color: #333;
            position: relative;
            font-size: 14px;
            text-align: center;
            text-decoration: none;
            background: 0 0;
        }

        .list {
            margin-left: 60px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <img src="~/Libs/img/about-usbanner.jpg" style="width: 100%; height: 550px; display: block;" class="img-responsive" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="height:70px;">
                <p class="biao">成为最值得信赖的，基于物流的商业伙伴</p>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="the-left">
            <p class="first">
            </p>
            <p class="first">1993年，顺丰诞生于广东顺德。自成立以来，顺丰始终专注于服务质量的提升，持续加强基础建设，积极研发和引进具有高科技含量的信息技术与设备以提升作业自动化水平，在国内外建立了庞大的信息采集，市场开发，物流配送，快件收派等速运业务机构及服务网络。</p>
            <p class="first">&nbsp;</p>
            <p class="first">在持续强化速运业务的基础上，顺丰坚持以客户需求为核心，积极拓展多元化业务，针对电商，食品，医药，汽配，电子等不同类型客户开发出一站式供应链解决方案，并提供支付，融资，理财，保价等综合性的金融服务。与此同时，依托强大的物流优势，我们成立顺丰优选，为客户提供品质生活服务，打造顺丰优质生活体验。</p>
            <p class="first">&nbsp;</p>
            <p class="first">多年来，顺丰持续创新，不断铸造高品质服务体验，为客户成功提供坚实有力的支持。</p>
            <p></p>
        </div>
        <div class="the-right">
            <div class="sub-title">进一步了解我们,有合作意向,请联系我们</div>
            <div class="double-link">
                <a href="http://ocs2-idp.sf-express.com/dt_chat/index.action?channelId=25&amp;clientType=1" target="_blank">联系在线客服</a>
                <a href="../cooperative_consultation/" class="last">合作咨询</a>
            </div>
        </div>
    </div>

    <script src="~/Libs/js/jquery-3.3.1.min.js"></script>
    <script src="~/Libs/js/bootstrap.min.js"></script>
</body>
</html>
