
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/script/bootstrap-3.3.7-dist/jquery-3.3.1.js"></script>
    <script src="~/script/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link href="~/script/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/script/vue.min.js"></script>
    <link href="~/Controllers/MT/Helper.css" rel="stylesheet" />
    <title>资料下载中心</title>
</head>
<body>
    <div id="app">
        <div id="kuan"style="height:1000px;">
            <div class="container">
                <div id="img"> <img src="~/image/help_banner .jpg" /> </div>

                <div id="dong">
                    <div class="title">
                        <label>资料下载中心</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>
