
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/script/css/master.css" rel="stylesheet" />
    <link href="~/script/css/Zixun.css" rel="stylesheet" />
    <link href="~/script/css/modernforms.css" rel="stylesheet" />
    <link href="~/script/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/script/bootstrap-3.3.7-dist/jquery-3.3.1.js"></script>
    <script src="~/script/jquery.carouFredSel-6.0.4-packed.js"></script>
    <script src="~/script/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link href="~/script/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/script/vue.min.js"></script>
    <link href="~/script/Logisticstracking.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/image/Bob_128px_1211179_easyicon.net.ico" />
    <script src="~/script/Logisticstracking.js"></script>

    <script>
        $(document).ready(function () {

            $(".form").slideDown(500);

            $("#landing").addClass("border-btn");
            $("#registered").click(function () {
                $("#landing").removeClass("border-btn");
                $("#landing-content").hide(500);
                $(this).addClass("border-btn");
                $("#registered-content").show(500);

            })
            $("#landing").click(function () {
                $("#registered").removeClass("border-btn");
                $(this).addClass("border-btn");

                $("#landing-content").show(500);
                $("#registered-content").hide(500);
            })
        });
    </script>

</head>

<body>
    <div id="app">
        <div class="container-fluid">
            <!--头部开始-->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="background-image: url('../../image/dynamic_nav_bar_bg.png');background-repeat:no-repeat;height:50vh">
                    <div class="sf-care-nav">
                        <ul class="main-nav-menu">
                            <li><a href="javascript:void(0);" onclick="jumpOrder()">我要寄件</a></li>
                            <li><a href="/Logisticstracking/Logisticstrakcing">运单追踪</a></li>
                            <li><a href="javascript:void(0);">服务支持</a></li>
                            <li><a href="/Helpe/HelpZiXun" class='active'>资讯/投诉</a></li>
                        </ul>
                        <div class="care-tips">
                            <p class="tips-title">SF支持，你要的这里都有</p>
                            <p class="tips-content">我们期待为您带来更加优质的线上服务体验</p>
                        </div>
                        <div class="service-inside-nav">
                            <div class="all-support-container">
                                <ul class="clearfix">
                                    <li class="fl all-support-item">
                                        <a href="/Logisticstracking/PriceTime" class="wrapper">
                                            <span class="aicon aicon-freight-time"></span>
                                            <span class="desc-text">运费时效</span>
                                        </a>
                                    </li>
                                    <li class="fl all-support-item">
                                        <a href="../../../sc/dynamic_function/range/" class="wrapper">
                                            <span class="aicon aicon-service-area"></span><span class="desc-text">
                                                服务范围
                                            </span>
                                        </a>
                                    </li>
                                    <li class="fl all-support-item">
                                        <a href="../../../sc/dynamic_function/store/" class="wrapper">
                                            <span class="aicon aicon-net-point"></span>
                                            <span class="desc-text">网点查询</span>
                                        </a>
                                    </li>
                                    <li class="fl all-support-item">
                                        <a href="../../../sc/dynamic_function/accept/" class="wrapper">
                                            <span class="aicon aicon-post-standard"></span>
                                            <span class="desc-text">收寄标准</span>
                                        </a>
                                    </li>
                                    <li class="fl all-support-item">
                                        <a href="../../../sc/dynamic_function/more/exchange/" class="wrapper">
                                            <span class="aicon aicon-exchange"></span><span class="desc-text">汇率查询</span>
                                        </a>
                                    </li>
                                    <li class="fl all-support-item"><a href="../../../sc/dynamic_function/more/agency-ebill/" class="wrapper"><span class="aicon aicon-cod-bills"></span><span class="desc-text">代收货款账单</span></a></li>
                                    <li class="fl all-support-item"><a href="../../../sc/dynamic_function/more/COD_Ebilling_System/" class="wrapper"><span class="aicon aicon-cod-checking"></span><span class="desc-text">代收货款对账</span></a></li>
                                    <li class="fl all-support-item"><a href="../../../sc/dynamic_function/more/formdownload/" class="wrapper"><span class="aicon aicon-useful-forms"></span><span class="desc-text">常用表格</span></a></li>
                                    <li class="fl all-support-item"><a href="../../../sc/dynamic_function/more/payment/" class="wrapper"><span class="aicon aicon-claim"></span><span class="desc-text">理赔</span></a></li>
                                    <li class="fl all-support-item has-dropdown"><a href="javascript:void(0)" class="wrapper"><span class="aicon aicon-customs-clear"></span><span class="desc-text">清关服务<span class="chevron-down-outlined"></span></span></a><ul class="dropdown-menu"><li><a href="../../../sc/dynamic_function/clearance/clearance_pictureUpload/">清关证件图片上传</a></li><li><a href="../../../sc/dynamic_function/clearance/clearance_tax/">税金信息查询(中国)</a></li><li><a href="../../../sc/dynamic_function/clearance/restricted_delivery/">进出口规则</a></li></ul></li>
                                    <li class="fl all-support-item"><a href="../../../sc/dynamic_function/more/lost/" class="wrapper"><span class="aicon aicon-miss"></span><span class="desc-text">无着件公示</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--头部结束-->
            <!--投诉或者咨询建议填写表-->

            <div class="row">
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="margin-left:200px">
                    @*<div class="main-content-row no-header location-inputs payFee-location-inputs ui-front wrapper" >*@
                    @*<h6>咨询</h6>*@
                    <div class="form">
                        <div id="landing">咨询</div>
                        <div id="registered">投诉</div>
                        <div class="fix"></div>
                        <div id="landing-content" style="margin-top:40px">
                            <div class="mdn-bg">
                                <div class="modern-forms">
                                    <div class="modern-container">
                                        <div class="form-row">
                                            <div class="col col-6">
                                                <div class="field-group">
                                                    <input type="text" class="mdn-input" placeholder="Placeholder">
                                                    <label class="mdn-label"><span style="color:red">*</span>标题</label>
                                                    <span class="mdn-bar"></span>
                                                </div>
                                            </div><!-- end col-6 --><!-- end col-6 -->
                                            <div class="col col-6">
                                                <div class="field-group">
                                                    <input type="text" class="mdn-input" placeholder="Placeholder">
                                                    <label class="mdn-label"><span style="color:red">*</span>留言人</label>
                                                    <span class="mdn-bar"></span>
                                                </div>
                                            </div><!-- end col-6 -->
                                            <div class="col col-6">
                                                <div class="field-group prepend-icon">
                                                    <input type="email" class="mdn-input" placeholder="Placeholder">
                                                    <label class="mdn-label"><span style="color:red">*</span>联系电话</label>
                                                    <span class="mdn-icon"><i class="fa fa-envelope"></i></span>
                                                    <span class="mdn-bar"></span>
                                                </div>
                                            </div>
                                            <div class="col col-6">
                                                <div class="field-group prepend-icon">
                                                    <input type="email" class="mdn-input" placeholder="Placeholder">
                                                    <label class="mdn-label"><span style="color:red">*</span>电子邮箱</label>
                                                    <span class="mdn-icon"><i class="fa fa-envelope"></i></span>
                                                    <span class="mdn-bar"></span>
                                                </div>
                                            </div>
                                            <div class="col col-6">
                                                <div class="field-group prepend-icon">
                                                    <input type="email" class="mdn-input" placeholder="Placeholder">
                                                    <label class="mdn-label"><span style="color:red">*</span>运单号</label>
                                                    <span class="mdn-icon"><i class="fa fa-envelope"></i></span>
                                                    <span class="mdn-bar"></span>
                                                </div>
                                            </div>

                                            <div class="col col-6">
                                                <div class="field-group prepend-icon">
                                                    <input type="email" class="mdn-input" placeholder="Placeholder">
                                                    <label class="mdn-label"><span style="color:red">*</span>验证码</label>
                                                    <span class="mdn-icon"><i class="fa fa-envelope"></i></span>
                                                    <span class="mdn-bar"></span>
                                                </div>
                                            </div><!-- end col-6 -->
                                        </div>
                                        <div class="mdn-section">
                                            <div class="mdn-label-pos block-label"><label class="mdn-label">留言类型</label></div>
                                            <div class="form-row">
                                                <div class="col col-4">
                                                    <div class="mdn-group block-group">
                                                        <label class="mdn-switch">
                                                            <input type="checkbox" checked>
                                                            <span class="switch-toggle"></span>
                                                            <span class="switch-label">建议</span>
                                                        </label>
                                                        <label class="mdn-switch">
                                                            <input type="checkbox">
                                                            <span class="switch-toggle"></span>
                                                            <span class="switch-label">咨询</span>
                                                        </label>
                                                    </div><!-- mdn-group -->
                                                </div>
                                            </div><!-- mdn-group -->
                                        </div>
                                        <div class="field-group">
                                            <textarea class="mdn-textarea" placeholder="Enter Comments"></textarea>
                                            <label class="mdn-label">留言内容</label>
                                            <span class="mdn-bar"></span>
                                        </div><!-- end mdn-group -->

                                        <div class="mdn-footer">
                                            <button type="button" class="mdn-button btn-primary btn-raised">确认，并反馈给速宝</button>
                                            <button type="button" class="mdn-button btn-primary" disabled>取消</button>
                                        </div>
                                    </div>
                                    <div style="width:800px;height:30px;background-color:#F2F5F7;color:#34495E;margin-left:50px;font-size:20px;margin-top:-40px">留言记录</div>
                                    <div class="comment_box" style="margin-left:40px;border-bottom:1px dashed #ccc">
                                        <div class="info">
                                            <span class="c_info fr" style="margin-left:-50px">2019-05-25</span>
                                            <div>
                                                <span class="mr40">姓名：关伟龙</span>
                                                <span class="mr40">运单号：D1019944</span>
                                                <span>
                                                    状态：
                                                    已处理
                                                </span>
                                            </div>
                                        </div>
                                        <div class="c_cont">只收到9件货，少了一件</div>
                                        <div class="reply_box">
                                            <div class="reply">回复：亲，本次服务给您带来的不便，向您深表歉意。此单货物22日正常送货办理签收交付手续。时隔多日后现反馈少货问题，无法证实签收时即出现少货情况。如需其他帮助，亲可联系客服热线400-808-6666，我们将竭诚为您服务。</div>
                                        </div>
                                    </div>
                                    <div class="comment_box" style="margin-left:40px;border-bottom:1px dashed #ccc">
                                        <div class="info">
                                            <span class="c_info fr" style="margin-left:-50px">2019-05-25</span>
                                            <div>
                                                <span class="mr40">姓名：关伟龙</span>
                                                <span class="mr40">运单号：D1019944</span>
                                                <span>
                                                    状态：
                                                    已处理
                                                </span>
                                            </div>
                                        </div>
                                        <div class="c_cont">只收到9件货，少了一件</div>
                                        <div class="reply_box">
                                            <div class="reply">回复：亲，本次服务给您带来的不便，向您深表歉意。此单货物22日正常送货办理签收交付手续。时隔多日后现反馈少货问题，无法证实签收时即出现少货情况。如需其他帮助，亲可联系客服热线400-808-6666，我们将竭诚为您服务。</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="registered-content">
                            <div class="mdn-bg">
                                <div class="modern-forms">
                                    <div class="modern-container">
                                        <div class="form-row">
                                            <div class="col col-6">
                                                <div class="field-group">
                                                    <input type="text" class="mdn-input" placeholder="Placeholder">
                                                    <label class="mdn-label"><span style="color:red">*</span>标题</label>
                                                    <span class="mdn-bar"></span>
                                                </div>
                                            </div><!-- end col-6 --><!-- end col-6 -->
                                            <div class="col col-6">
                                                <div class="field-group">
                                                    <input type="text" class="mdn-input" placeholder="Placeholder">
                                                    <label class="mdn-label"><span style="color:red">*</span>留言人</label>
                                                    <span class="mdn-bar"></span>
                                                </div>
                                            </div><!-- end col-6 -->
                                            <div class="col col-6">
                                                <div class="field-group prepend-icon">
                                                    <input type="email" class="mdn-input" placeholder="Placeholder">
                                                    <label class="mdn-label"><span style="color:red">*</span>联系电话</label>
                                                    <span class="mdn-icon"><i class="fa fa-envelope"></i></span>
                                                    <span class="mdn-bar"></span>
                                                </div>
                                            </div>
                                            <div class="col col-6">
                                                <div class="field-group prepend-icon">
                                                    <input type="email" class="mdn-input" placeholder="Placeholder">
                                                    <label class="mdn-label"><span style="color:red">*</span>电子邮箱</label>
                                                    <span class="mdn-icon"><i class="fa fa-envelope"></i></span>
                                                    <span class="mdn-bar"></span>
                                                </div>
                                            </div>
                                            <div class="col col-6">
                                                <div class="field-group prepend-icon">
                                                    <input type="email" class="mdn-input" placeholder="Placeholder">
                                                    <label class="mdn-label"><span style="color:red">*</span>运单号</label>
                                                    <span class="mdn-icon"><i class="fa fa-envelope"></i></span>
                                                    <span class="mdn-bar"></span>
                                                </div>
                                            </div>

                                            <div class="col col-6">
                                                <div class="field-group prepend-icon">
                                                    <input type="email" class="mdn-input" placeholder="Placeholder">
                                                    <label class="mdn-label"><span style="color:red">*</span>验证码</label>
                                                    <span class="mdn-icon"><i class="fa fa-envelope"></i></span>
                                                    <span class="mdn-bar"></span>
                                                </div>
                                            </div><!-- end col-6 -->
                                        </div>
                                        <div class="field-group">
                                            <textarea class="mdn-textarea" placeholder="Enter Comments"></textarea>
                                            <label class="mdn-label">留言内容</label>
                                            <span class="mdn-bar"></span>
                                        </div>
                                        <div class="mdn-section">
                                            <div class="mdn-label-pos block-label"><label class="mdn-label">您是：</label></div>
                                            <div class="form-row">
                                                <div class="col col-4">
                                                    <div class="mdn-group block-group">
                                                        <label class="mdn-option">
                                                            <input type="radio" name="radio1">
                                                            <span class="mdn-radio"></span>
                                                            <span class="option-label"> 收货人 </span>
                                                        </label>
                                                        <label class="mdn-option">
                                                            <input type="radio" name="radio1">
                                                            <span class="mdn-radio"></span>
                                                            <span class="option-label"> 发货人 </span>
                                                        </label>
                                                        <label class="mdn-option">
                                                            <input type="radio" name="radio1">
                                                            <span class="mdn-radio"></span>
                                                            <span class="option-label"> 第三方 </span>
                                                        </label>
                                                    </div><!-- end .mdn-group section -->
                                                </div>
                                            </div><!-- mdn-group -->
                                        </div>

                                        <div class="mdn-footer">
                                            <button type="button" class="mdn-button btn-primary btn-raised">确认，并反馈给速宝</button>
                                            <button type="button" class="mdn-button btn-primary" disabled>取消</button>
                                        </div>
                                        <!-- end mdn-group#F2F5F7 -->
                                    </div>
                                    <div style="width:800px;height:30px;background-color:#F2F5F7;color:#34495E;margin-left:50px;font-size:20px;margin-top:-40px">留言记录</div>
                                    <div class="comment_box" style="margin-left:40px;border-bottom:1px dashed #ccc">
                                        <div class="info">
                                            <span class="c_info fr" style="margin-left:-50px">2019-05-25</span>
                                            <div>
                                                <span class="mr40">姓名：关伟龙</span>
                                                <span class="mr40">运单号：D1019944</span>
                                                <span>
                                                    状态：
                                                    已处理
                                                </span>
                                            </div>
                                        </div>
                                        <div class="c_cont">只收到9件货，少了一件</div>
                                        <div class="reply_box">
                                            <div class="reply">回复：亲，本次服务给您带来的不便，向您深表歉意。此单货物22日正常送货办理签收交付手续。时隔多日后现反馈少货问题，无法证实签收时即出现少货情况。如需其他帮助，亲可联系客服热线400-808-6666，我们将竭诚为您服务。</div>
                                        </div>
                                    </div>
                                    <div class="comment_box" style="margin-left:40px;border-bottom:1px dashed #ccc">
                                        <div class="info">
                                            <span class="c_info fr" style="margin-left:-50px">2019-05-25</span>
                                            <div>
                                                <span class="mr40">姓名：关伟龙</span>
                                                <span class="mr40">运单号：D1019944</span>
                                                <span>
                                                    状态：
                                                    已处理
                                                </span>
                                            </div>
                                        </div>
                                        <div class="c_cont">只收到9件货，少了一件</div>
                                        <div class="reply_box">
                                            <div class="reply">回复：亲，本次服务给您带来的不便，向您深表歉意。此单货物22日正常送货办理签收交付手续。时隔多日后现反馈少货问题，无法证实签收时即出现少货情况。如需其他帮助，亲可联系客服热线400-808-6666，我们将竭诚为您服务。</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/script/MT/dist/js/formValidation.js"></script>
    <script type="text/javascript" src="~/script/MT/dist/js/framework/bootstrap.js"></script>
    <script type="text/javascript" src="~/script/MT/dist/js/language/zh_CN.js"></script>
    <link href="~/script/MT/src/css/formValidation.css" rel="stylesheet" />
</body>
</html>
