
@{
    Layout = null;
}
<div class="modal fade bs-example-modal-lg" id="AddRess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="layui-layer layui-layer-page sf-layer line" id="layui-layer17" type="page" times="17" showtime="0" contype="string" style="z-index: 19891031; width: 680px; position: absolute; top: 181.111px; left: 409.5px;">
    <div class="layui-layer-title" style="">新增联系人</div>
    <div id="" class="layui-layer-content">
        <div class="open-3FcSsDqemS">
        <form class="form-horizontal add-book-edit ui-front" novalidate="novalidate">
            <div class="intellect-warm-reminder">请检查拆分地址信息是否准确，如有遗漏请及时补充</div>
            <div class="sftitle">联系人信息<span class="small">标 * 为必填项</span></div>
            <div class="form-group">
            <div class="col-xs-5">
                <label class="control-label required" for="contactName">姓名</label>
                <input type="text" class="form-control" name="contactName" placeholder="请填写联系人姓名" value="">
                </div>
            <div class="col-xs-5 col-xs-offset-2">
                <label class="control-label" for="companyName">公司名称</label>
                <input type="text" class="form-control" name="companyName" placeholder="请填写公司名称" value="">
                </div>
                </div>
            <div class="form-group">
            <div class="col-xs-5">
                <label class="control-label" for="contactTel">手机号码</label>
                <input type="text" class="form-control" name="contactTel" placeholder="请填写手机号码" value="">
                </div>
            <div class="col-xs-5 col-xs-offset-2">
                <label class="control-label" for="contactPhone">固话</label>
                <input type="text" class="form-control" name="contactPhone" placeholder="请填写固话号码" value=""></div>
                </div>
            <div class="form-group">
            <div class="col-xs-10">
                <label class="control-label required" for="location">省市区</label>
                <div class="detail-location-input" data-max-level="4" data-hide-globe="true" data-hide-hkmctw="false">
                <input type="text" class="form-control ui-autocomplete-input" name="location" placeholder="请选择所在地区，例如：广东省－深圳市－福田区" autocomplete="off">
                <div class="detail-location-picker toggle-plugins" style="display: none;"></div>
                    </div></div></div><div class="form-group">
            <div class="col-xs-10">
            <label class="control-label required" for="address">详细地址</label>
            <input type="text" class="form-control ui-autocomplete-input" name="address" placeholder="请填写所在街道以及详细地址" value="" autocomplete="off">
                </div>
            </div>
            <div class="form-group TWlicenseInput" style="display:none">
            <div class="col-xs-10">
                <label for="customerId" class="required control-label">收件统编</label>
                <input type="text" class="form-control" name="customerId" placeholder="如收件方为公司请填写营业执照，个人请填写身份证号" value="">
                </div></div>
            
           <div class="text-center">
            <button type="button" class="primary-btn save-address autowidth" data-addressid="">确认</button>
               </div>
            <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-32" tabindex="0" style="display: none;"></ul>
            <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-33" tabindex="0" style="display: none;"></ul></form></div></div><span class="layui-layer-setwin">
        <a class="layui-layer-ico layui-layer-close layui-layer-close1" href="javascript:;"></a>
                         </span></div>
    </div>
