
@{
    Layout = null;
}
<style type="text/css">
.aicon-search:before { 
    content: url("../../image/search.png") 
}
</style>
<div class="modal fade bs-example-modal-lg" id="AdressBu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
<div class="layui-layer layui-layer-page sf-layer line" id="layui-layer1" type="page" times="1" showtime="0" contype="string" style="z-index: 19891015; width: 680px; top: -14px; left: 334.5px;">
    <div class="layui-layer-title" style="">从地址簿选择</div>
    <div id="" class="layui-layer-content">
    <div class="open-9413f14ZeL">
        <div class="adds-book">
        <div class="clearfix">
            <form class="search-form fl" novalidate="novalidate">
                <div class="input-wrapper clearfix">
                    <input type="text" class="form-control search-input"  name="searchParm" placeholder="请输入姓名/电话查询">
                    <button class="search primary-btn square small" type="submit">搜索</button>
                </div>
                </form>
            <button type="button" class="primary-btn white square add fr">
            <span class="aicon-zengjia-01"></span>新增地址</button>
            </div>
      <div class="fix-height">
            <div class="hide-in-loading">
          <div class="bootstrap-pagination">
              

          </div>

                </div>
          </div>
            </div>
        </div>
        </div></div>
    </div>