
@{
    Layout = null;
}

<style>
    #bodyPage {
        width: 100%;
        min-height: 100%;
        height: auto !important;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }

    .homepage_ul {
        color: #ffffff;
        width: 100%;
        height: 100%;
        font-size: 22px;
        font-weight: 400;
        list-style: none;
    }

        .homepage_ul > li {
            font-size: 16px;
            width: 230px;
            height: 100%;
            line-height: 16vh;
            float: left;
            margin-left: 10px;
        }

            .homepage_ul > li i {
                margin-right: 5px;
            }

            .homepage_ul > li a {
                color: #ffffff;
                text-decoration: none;
            }

    .div_selete {
        width: 310px;
        height: 180px;
        background-color: #ffffff;
        margin-top: 195px;
        margin-left: 30px;
        box-shadow: #ffffff 0px 5px 13px 10px;
    }
    /*.div_of {
            height:40vh;
            background-color:#fff;
        }*/
    .operation {
        height: 100%;
        background-color: #ffffff;
        text-align: center;
    }

    .div_fool {
        height: 40vh;
        background-image: url('../../image/case-shareBg.jpg');
    }

    .text_fool {
        text-align: center;
        margin-top: 20px;
    }

        .text_fool h4 {
            font: bold 19px arial 600;
        }

            .text_fool h4 > p {
                font-size: 12px;
                margin-top: 5px;
            }

    .yuan {
        width: 100px;
        height: 100px;
        border-radius: 50px; /*倒角半径*/
        background-color: #ffffff;
        float: left;
        margin-left: 85px;
        text-align: center;
        color: red;
        font-size: 13px;
    }

</style>
<div class="navr_img" style="height:15vh;opacity:0.8;background-color:#ffffff">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
            <a style="font-size:8vh;font-family:'AR BERKLEY';text-decoration:none;color:#23527c; margin-left:30px;line-height:15vh;">E速宝</a><span class="navr_span">欢迎您登录</span>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="margin-top:20px">
            <nav class="nav navbar-form">
                <ul class="nav  navbar-nav licor" id="menu">
                    <li>
                        <a href="/Home_page/home_page">首页</a>
                    </li>
                    <li onmouseover="onOver(this)" onmouseout="onOut(this)" class="yiji" style="position:relative">
                        <a>我的速宝</a>
                        <ul class="lis" style="display:none;position:absolute;height:150px;width:100px;background-color:white">
                            <li style="text-align:center;height:50px;margin-left:-20px"><a href="/Order/OnlineOrder">网上下单</a></li>
                            <li style="text-align:center;height:50px;margin-left:-20px"><a href="/Order/bulkOrder">批量下单</a></li>
                            <li style="text-align:center;height:50px;margin-left:-20px"><a href="/Sheji/Ziliao">我的资料管理</a></li>
                        </ul>
                    </li>
                    <li onmouseover="onOver(this)" onmouseout="onOut(this)" class="yiji" style="position:relative">
                        <a>自助服务</a>
                        <ul class="lis" style="display:none;position:absolute;height:150px;width:100px;background-color:white">
                            <li style="text-align:center;height:50px;margin-left:-20px"><a href="/Logisticstracking/Logisticstrakcing">货物跟踪</a></li>
                            <li style="text-align:center;height:50px;margin-left:-20px"><a href="">网点查询</a></li>
                            <li style="text-align:center;height:50px;margin-left:-20px"><a href="/Logisticstracking/PriceTime">价格时效查询</a></li>
                            <li style="text-align:center;height:50px;margin-left:-20px"><a href="">订单查询</a></li>
                        </ul>
                    </li>
                    <li onmouseover="onOver(this)" onmouseout="onOut(this)" class="yiji" style="position:relative">
                        <a>帮助与支持</a>
                        <ul class="lis" style="display:none;position:absolute;height:150px;width:100px;background-color:white">
                            <li style="text-align:center;height:50px;margin-left:-20px"><a href="/Helpe/Jin">禁运品</a></li>
                            <li style="text-align:center;height:50px;margin-left:-20px" ><a href="/HelpeIndex">常见答疑</a></li>
                            <li style="text-align:center;height:50px;margin-left:-20px"><a href="/Helpe/HelpZiXun">咨询与建议</a></li>
                        </ul>
                    </li>
                    <li onmouseover="onOver(this)" onmouseout="onOut(this)" class="yiji" style="position:relative">
                        <a href="#">关于速宝</a>
                        <ul class="lis" style="display:none;position:absolute;height:150px;width:100px;background-color:white">
                            <li style="text-align:center;height:50px;margin-left:-20px"><a href="/Sheji/Guanyu">速宝概述</a></li>
                            <li style="text-align:center;height:50px;margin-left:-20px"><a href="">速宝新闻</a></listyle="text-align:center;height:50px;margin-left:-20px">
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div>
    </div>

    <script>
        function onOver(obj) {
            var sub_url = obj.getElementsByTagName("ul")
            sub_url[0].style.display = "block";
        }
        function onOut(obj) {
            var sub_url = obj.getElementsByTagName("ul")
            sub_url[0].style.display = "none";
        }
    </script>

