
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Esubaofool</title>
</head>
<body>
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height:60vh;width:1349px; background-color:#333">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        <div class="fbInner col-xs-11 col-sm-11 col-md-11 col-lg-11">
            <div class="h-footL col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <span class="h-footPhone">客服服务电话：400-800-9999</span>
                <span>Copyright © 2016 海尔集团电子商务有限公司&nbsp;|&nbsp;岳阳E速宝物流有限公司</span>
                <span>版权所有 备案证书号：鲁ICP备15028156号-4 &nbsp;|&nbsp; <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37021202000797" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;color: white">鲁公网安备 37021202000797号</a></span>
                <span>地址：岳阳职业技术学院</span>
            </div>
            <div class="h-footR col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin-right:0px;">
                <div class="h-footIR">
                    <div>
                        <ul>
                            <li>
                                <a>
                                    <i>
                                        <img class="ewmimg" src="~/image/erweimaer.png" />
                                    </i>
                                    <p>E速宝物流官方微信</p>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i>
                                        <img class="ewmimg" src="~/image/erweima.png" />
                                    </i>
                                    <p>E速宝物流官方微博</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
