
@{
    Layout = null;
}

<div class="modal fade bs-example-modal-lg" id="Quequ" tabindex="-1" role="dialog" aria-labelledby="Quequ">
 <div class="layui-layer layui-layer-page sf-layer line" id="layui-layer8" type="page" times="8" showtime="0" contype="string" style="z-index: 19891022; width: 480px; height: 564px; top: -213.5px; left: 373px;">
        <div class="layui-layer-title" style="">温馨提示</div>
        <div id="" class="layui-layer-content" style="height: 516.006px;">
            <div class="open-UxbQBxJ79Q">
                <div class="title-wrapper">
                    <img src="../../../../../resource/images/waybill/sf-box.png" class="title-img">
                    <h1 class="title-text">是否暂不寄件？</h1>
                </div>
                <div class="cancel-content">
                    <div class="cancel-tips">
                        <span class="big">请告诉我们原因</span>
                        <span class="small">我们会努力为您提供更好的服务</span>
                    </div>
                    <ul class="reason-items ">
                        <li>
                            <a href="javascript:void(0);">
                                <span class="radio-btn aicon-circle-check checked"></span>
                                <span class="item-text">计划有变，暂时不需要寄件了</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="radio-btn aicon-circle-check"></span>
                                <span class="item-text">赶时间，更改为其他寄件方式</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="radio-btn aicon-circle-check"></span>
                                <span class="item-text">预约信息有误，需要修改</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="radio-btn aicon-circle-check"></span>
                                <span class="item-text">误发预约</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><span class="radio-btn aicon-circle-check"></span><span class="item-text">其他</span></a>
                        </li>
                    </ul>
                </div>
                <div class="btn-wrapper">
                    <button type="button" class="primary-btn select-confirm border">确认</button>
                    <button type="button" class="primary-btn select-cancel">取消</button>
                </div>
            </div>
        </div>
        <span class="layui-layer-setwin">
            <a class="layui-layer-ico layui-layer-close layui-layer-close1" href="javascript:;">
            </a>
        </span>
    </div>
    </div>


