
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>网上下单</title>
    <script src="~/script/bootstrap-3.3.7-dist/jquery-3.3.1.js"></script>
    <link href="~/script/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/script/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link href="~/Controllers/MT/Helper.css" rel="stylesheet" />
</head>
<body>
    <div id="app">

        <div id="kuan" style="height:auto;">
            <div class="container">
                <div id="img"><img src="~/image/order_banner.jpg" />
                </div>
                <div id="dong">
                    <!--标题-->
                    <div class="title">
                        <label>网上下单</label>
                        <label style="float:right">
                            <button class="btn btn-success">快速下单</button>
                            <button class="btn btn-success">历史下单</button>
                        </label>
                        
                    </div>

                </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
