.navr_img {
    background-color: #f3f9fb;
}
.navr_span {
    font-size: 18px;
    font-family: "microsoft yahei";
    color: #000000;
    margin-left: 22px;
    vertical-align: bottom;
    line-height: 15vh;
}
