
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>帮助与支持</title>
    <script src="~/script/bootstrap-3.3.7-dist/jquery-3.3.1.js"></script>
    <script src="~/script/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link href="~/script/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        #tbody {
            width:100%;
            height:500px;
            background:#edecec;
        }
            a {
            color: black;
            text-decoration: none;
           font-size:14px;
        }
                a:link {
                    text-decoration: none;
                   color: #f15a22;
                }

                a:visited {
                    text-decoration: none;
                  
                }

                a:hover {
                    text-decoration: none;
                    color: #f15a22;
                }
            
        .list-group-item {
           border:none;
            border-bottom: 1px dotted #333;
            margin-bottom:0px;
        }
        #left_div{
            width:240px;
            height:500px;
            float:left;
        }
      #right_div{
          float:left;
          margin-left:60px;
          width:804px;
          background-color:blanchedalmond;
          height:600px;
      }
       
    </style>
</head>
<body>
    <div id="tbody">
        <div id="left_div">
           
                <ul class="list-group">
                    <li class="list-group-item"><h3>帮助与支持</h3></li>
                    <li class="list-group-item"><a href="#" style="color:#f15a22;">常见答疑</a></li>
                    <li class="list-group-item"><a href="#">资料下载中心</a></li>
                    <li class="list-group-item"><a href="#">咨询投诉建议</a></li>
                    <li class="list-group-item"><a href="#">在线客服</a></li>
                </ul>
        </div>
        <div id="right_div">

        </div>
    </div>
</body>
</html>
