.aicon-address-book:before {
    content: url("../../image/MT/book.png")
}

.aicon-intellect-address:before {
    content: url("../../image/MT/zhineng.png")
}

.aicon-calculator:before {
    content: url("../../image/MT/jsj.png")
}

.aicon-location:before {
    content: url("../../image/MT/weizhi.png")
}
